/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap/dist/css/bootstrap.css
 *= require_tree .
 *= require_self
 
 */


.menu{ 
 	margin-top: 0%;  
 	background: #004400;  
   	min-height:100%;  
} 

html {
	margin: 0px auto;
	padding: 0px;
	height: 1000px;
}

body {
	background: #E9EAED;  
	height:100%;
	min-height:100%;
}

header {	
	padding-top: 1px;
	height: 10%;
	background: #3b5998; 	
	border-bottom: solid gray 2px;
	text-align: center;
}

.header h1 {color: #fff;}
.header h1 a {
	text-decoration: none; 
	color: #fff;
}

.header p {margin-top: 0px;}
.header p a {
	color: #fff;
	padding: 5px;
}

#q {
	width: 59%;
}

.container-fluid {
	height:100%;	
}

.col-sm-12 {
	padding: 5px;
	border: gray 2px solid;
}
.search_button {
	background-color: #3b5998;
	color: white;
	width: 72px;
}
